<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Textutil</title>
</head>
<body>
<h1> Welcome to Text Analyzer ! Enter Your text below </h1>
<form action='/analyze' method='get'>
    <textarea name='text' style='width: 678px; height: 32px;'></textarea><br>
    <input type='checkbox' name='removepunc'>Remove Punctuations <br>
    <input type='checkbox' name='fullcaps'>UPPERCASE <br>
    <input type='checkbox' name='newlineremover'>New Line Remover <br>
    <input type='checkbox' name='extraspaceremover'> Extra space remover <br>
    <input type='checkbox' name='charcount'>Character Count <br>
    <button type='submit'>Analyze text</button>
</form>


</body>
</html>